<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="jumbotron">
			<h1 th:text="${title}"></h1>
			<h1 th:text="${message}"></h1>
			<h2>Message from template...</h2>
		</div>
		
		<a sec:authorize="hasRole('USER')" th:href="@{/user/}" class="btn">/user</a>
		<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/}" class="btn">/admin</a>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>