<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<title th:text="${title}"></title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="jumbotron">
			<h1 th:text="${title}"></h1>
			<h2 th:text="${message}"></h2>
		</div>
		
		<a th:href="@{/}" class="btn">/home</a>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>